@if (fine) {

<mat-card>
  <mat-card-header>
    <mat-card-title>Detalles de la Multa</mat-card-title>
    <mat-card-subtitle>ID: {{ fine.id }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div><strong>Descripción:</strong> {{ fine.description }}</div>
    <div><strong>Precio:</strong> {{ fine.price | currency : "ARS" }}</div>
    <div><strong>Estado de Moderación:</strong> {{ fine.moderationState }}</div>
    <div><strong>Creado por:</strong> {{ fine.createdBy }}</div>
    <div>
      <strong>Fecha de Creación:</strong>
      {{ fine.createdDate | date : "short" }}
    </div>
    <div>
      <strong>Última Actualización:</strong>
      {{ fine.lastUpdatedAt | date : "short" }} por {{ fine.lastUpdatedBy }}
    </div>
  </mat-card-content>
</mat-card>

} @if (fine?.infractions!==undefined && fine?.infractions?.length!==0) {

<mat-divider></mat-divider>
<h3>Infracciones</h3>

<table mat-table [dataSource]="fine?.infractions!" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let infraction">{{ infraction.id }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Descripción</th>
    <td mat-cell *matCellDef="let infraction">
        <span i18n></span>{{ infraction.description }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="infractionState">
    <th mat-header-cell *matHeaderCellDef>Estado</th>
    <td mat-cell *matCellDef="let infraction">
      {{ infraction.infractionState }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let infraction">
      <button mat-button color="primary">Ver Detalle</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

}

