@if (fine) {

<mat-card>
  <mat-card-header>
    <mat-card-title>Detalles de la Multa</mat-card-title>
    <mat-card-subtitle>ID: {{ fine.id }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div><strong>Descripción:</strong> {{ fine.description }}</div>
    <div><strong>Precio:</strong> {{ fine.price | currency : "ARS" }}</div>
    <div><strong>Estado de Moderación:</strong> {{ fine.moderationState }}</div>
    <div><strong>Creado por:</strong> {{ fine.createdBy }}</div>
    <div>
      <strong>Fecha de Creación:</strong>
      {{ fine.createdDate | date : "short" }}
    </div>
    <div>
      <strong>Última Actualización:</strong>
      {{ fine.lastUpdatedAt | date : "short" }} por {{ fine.lastUpdatedBy }}
    </div>
  </mat-card-content>
</mat-card>

}
